@if (loading) {
<div class="event-card flex flex-col gap-8 shadow-md bg-gray-200 rounded-md p-4 animate-pulse">
    <div class="flex gap-6">
        <div class="size-45 aspect-square cover rounded-sm bg-gray-300"></div>
        <div class=" flex flex-col gap-5 w-full">
            <div class="h-5 w-70 bg-gray-300 rounded-sm"></div>
            <div class="h-5 w-70 bg-gray-300 rounded-sm"></div>
            <div class="h-5 w-70 bg-gray-300 rounded-sm"></div>
        </div>
    </div>
    <div class="flex justify-between gap-4 w-full">
        <div class="h-5 w-50 bg-gray-300 rounded-sm"></div>
        <div class="h-5 w-35 bg-gray-300 rounded-sm"></div>
    </div>
</div>
} @else {
<div class="event-card flex flex-col gap-4 shadow-md bg-gray-200 rounded-md p-4">
    <div class="flex gap-6">
        <img src="{{ event.imageUrl }}" alt="Event image" class="w-[10vw] aspect-square cover rounded-sm" loading="lazy">
        <div class=" flex flex-col gap-4">
            <p><strong>Fecha: </strong>{{ event.date | date }}</p>
            <p><strong>Lugar: </strong>{{ event.location }}</p>
            <p><strong>Capacidad actual:</strong> {{ event.attendees ? event.attendees.length : 0 }} / {{ event.capacity ? event.capacity : 100 }} registrados</p>
        </div>
    </div>
    <div class="flex justify-between gap-4 w-full">
        <p><strong>Titulo: </strong>{{ event.title || 'Evento sin nombre' }}</p>
        <a href="#" [routerLink]="['events/' + event.id]"
            class="text-md font-bold text-[color:var(--background-primary)] hover:text-orange-700">Ver detalles</a>
    </div>
</div>
}