/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

@font-face {
    font-family: 'Satoshi';
    src: url('../src/assets/fonts/Satoshi-Light.woff2') format('woff2'),
        url('../src/assets/fonts/Satoshi-Light.woff') format('woff'),
        url('../src/assets/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../src/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
        url('../src/assets/fonts/Satoshi-Regular.woff') format('woff'),
        url('../src/assets/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../src/assets/fonts/Satoshi-Medium.woff2') format('woff2'),
        url('../src/assets/fonts/Satoshi-Medium.woff') format('woff'),
        url('../src/assets/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../src/assets/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('../src/assets/fonts/Satoshi-Bold.woff') format('woff'),
        url('../src/assets/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --primary-color: #eb5e28;
    --text-light: #fffcf2;
    --text-dark: #252422;
    --background-primary: #403d39;
    --background-dark: #252422;
    --background-light: #ccc5b9;
}

body {
    font-family: 'Satoshi', sans-serif;
}


button.disabled{
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
}